<!-- unless only works when it is false-->
{{#unless isListEnabled}}

  <ul>
    <li>1</li>
    <li>2</li>
  </ul>

{{/unless}}


{{#with author}}
  <h2>{{firstname}}</h2>
  <h2>{{lastname}}</h2>
{{/with}}
